{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

    <div class="items-center">
        <h1>Bienvenue dans le gestionnaire de votre bibliothèque ! Cliquez sur un livre pour le modifier.</h1>
        <br><br>
        <h2 class="font-bold">Voici la liste des livres existants :</h2>
        <ul>
            {% for book in books %}
                <li><a href="{{ path('book.edit', { 'id': book.id }) }}">{{ book.title }}</a> - {{ book.author }} - {{ book.availability()|raw }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
