{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

    <div class="flex flex-col items-center">
        <div>
            <h1 class="mb-4">Bienvenue dans le gestionnaire de votre bibliothèque ! Cliquez sur le titre d'un livre pour le visualiser.</h1>
            <a href="{{ path('book.create') }}" class="flex flex-row text-center bg-blue-300 py-1 px-3 rounded-md my-2 max-w-fit hover:bg-blue-400">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M222,128a6,6,0,0,1-6,6H134v82a6,6,0,0,1-12,0V134H40a6,6,0,0,1,0-12h82V40a6,6,0,0,1,12,0v82h82A6,6,0,0,1,222,128Z"></path></svg>
                <span class="pl-1">Ajouter un livre</span>
            </a>
            <div class="flex flex-col items-center">
                <twig:Books:Table :books="books" />
            </div> 
        </div>
    </div>

{% endblock %}
