{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

    <div class="flex flex-col items-center">
        <h1>Bienvenue dans le gestionnaire de votre bibliothèque ! Cliquez sur le titre d'un livre pour le visualiser.</h1>
        <br><br>
        <div class="flex flex-col items-center">
            <twig:Books:Table :books="books" />
        </div> 
    </div>

{% endblock %}
