{% extends 'base.html.twig' %}

{% block title %}Modifier un abonné{% endblock %}

{% block body %}
    <h1>Modifier un abonné</h1>

    {{ include('subscriber/_form.html.twig') }}

    {{ include('subscriber/_delete_form.html.twig') }}
{% endblock %}
