{% extends 'base.html.twig' %}

{% block title %}Subscriber index{% endblock %}

{% block body %}
    <div class="flex flex-col items-center">
        <div>
            <h1 class="mb-4">Liste des abonnés</h1>
            <div class="flex mb-4">
                <a href="{{ path('app_subscriber_new') }}" class="flex flex-row text-center bg-blue-300 py-1 px-3 rounded-md max-w-fit hover:bg-blue-400">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M222,128a6,6,0,0,1-6,6H134v82a6,6,0,0,1-12,0V134H40a6,6,0,0,1,0-12h82V40a6,6,0,0,1,12,0v82h82A6,6,0,0,1,222,128Z"></path></svg>
                    <span class="pl-1">Ajouter un abonné</span>
                </a>
                <form class="border border-gray-300 rounded-md ml-4 px-2 flex">
                    <input type="text" name="search" placeholder="Rechercher un abonné..." value="{{ app.request.get('search') }}" class="focus:outline-0">
                    <button type="submit" class="hover:cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path></svg>
                    </button>
                </form>
            </div>
            <div class="flex flex-col items-center">
                <twig:Subscribers:Table :subscribers="subscribers" />
            </div> 
            <div class="flex place-content-between mt-3">
                {# Previous page button #}
                {% if page > 1 %}
                    <a href="{{ path('app_home', {'page': page - 1}) }}" class="flex flex-row gap-2 hover:border-b">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path></svg>
                        <span>Page précédente</span>
                    </a>
                {% else %}
                    <div></div>
                {% endif %}
                {# Next page button #}
                {% if page < totalPages %}
                    <a href="{{ path('app_home', {'page': page + 1}) }}" class="flex flex-row gap-2 hover:border-b">
                        <span>Page suivante</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"></path></svg>
                    </a>
                {% else %}
                    <div></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
