{% extends 'base.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}

    <h1 class="text-2xl font-bold">Ajouter un nouveau livre</h1>

    <br><br>

    {{ form(form)}}

{% endblock %}
