<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="p-4 h-screen">
        <header class="mx-4 mb-2 pb-2 border-b-2 border-gray-300 flex flex-row place-content-between">
            <h1 class="text-2xl font-bold">My Book Library</h1>
            <nav>
                <a href="{{ path('app_home') }}" class="mr-4 text-xl hover:underline font-semibold">Livres</a>
                <a href="{{ path('app_subscriber_index') }}" class="text-xl hover:underline font-semibold">Abonnés</a>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
